.search {
  width: 100%;
  // position: relative;
  padding: 1rem;
  border: 1px solid white;

  &Field {
    // border-bottom: transparent;
    // padding: 1rem;

    // border-radius: 6px;
  }

  &Field input {
    color: white;
    width: 100%;
  }
}

.suggestions {
  // position: absolute;
  // top: 100%;
  // left: 0;

  // width: 100%;
  background: #262626;

  max-height: 200px;
  overflow-y: auto;

  & li {
    padding: 8px 12px;
    cursor: pointer;
  }
}

.suggestion {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion.active {
  background: #2a7aef;
  color: white;
}

// .mouseActive:hover {
//   background: silver;
// }

// .active {
//   background: silver;
// }

.highlight {
  font-weight: 600;
  // border: 1px solid red;
  color: silver;
  background: none; /* не робимо background щоб не конфліктувало з optionActive */
}
