@use "../shared/assets/styles/nullstyle";

:root {
  --body-color: #1f1f1f;
  --sidebar-color: #262626;
  --primary-color: #e26a60;
  --primary-color-light: #f6f5ff;
  --toggle-color: #2a2a2a;
  --color-hover: #2a2a2a;
  --text-color: #fff;
  --text-color-light: #808080;
  --circle-x: 0px;
}

html[data-theme="light"] {
  --body-color: #f9fafb;
  --sidebar-color: #d7d7d7;
  --toggle-color: #e5e7eb;
  --text-color: #111;
  --color-hover: #e26a60;
  --primary-color: black;
  --circle-x: 19px;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--body-color);
  color: var(--text-color);
}

#root {
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 113rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  padding: 25px 0px;
}

.header__container,
.footer__container {
  max-width: 183rem;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

//----------------------------------------------------------

.todo-action {
  &__title {
    margin-bottom: 3rem;
  }

  &__add-btn {
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
    color: var(--text-color-light);
    & svg {
      font-size: 20px;
      border-radius: 50%;
      color: var(--primary-color);
    }

    &:hover {
      color: var(--primary-color);
    }

    &:hover svg {
      color: var(--text-color);
      background-color: var(--primary-color);
    }
  }
}

.todo-editor {
  border: 1px solid gray;
  border-radius: 1rem;

  &__box {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2rem;
  }
}
