@use "../shared/assets/styles/nullstyle";

// --accent-main
// --accent-secondary

:root {
  --body-color: #1f1f1f; // --bg-main
  --text-color: #fff; // text-primary
  --text-secondory: #808080; // text-muted / text-secondory
  --border-color: #3a3a3a;
  --color-white: #fff; // delete / color-white
  --sidebar-color: #262626;
  --primary-color: #e26a60;
  --secondary-color: #424242;
  --color-hover: #2a2a2a; // surface-hover / sidebar-hover (треба щось придумати) --hover-color / state-hover
  //------------------------
  --circle-x: 0px; // бажано винести окремо, (ui state) --toggle-circle-x
}

html[data-theme="light"] {
  --body-color: #f9fafb;
  --text-color: #111;
  --sidebar-color: #d7d7d7;
  --color-hover: #e26a60;
  --circle-x: 19px;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--body-color);
  color: var(--text-color);
}

#root {
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 113rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.main__container {
  height: 100%;
}

.header,
.footer {
  padding: 25px 0px;
}

.header__container,
.footer__container {
  max-width: 183rem;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

//----------------------------------------------------------

.todo-entry {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  &__body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }

  &__button {
    font-size: inherit;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
  }
}
