.login {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > button {
    padding: 1rem 3rem;
    background-color: #ff7100;
    border-radius: 1rem;
    text-transform: uppercase;
  }

  & > input {
    border: 1px solid white;
    padding: 1rem;
    color: white;
  }
}
