.header {
  border: 1px solid #424242;
  padding: 25px 0;
  background-color: #262626;

  &Logo {
    color: white;
  }

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
}

.search {
  width: 100%;
  &Field {
    // width: 100%;
    border: 1px solid white;
    padding: 1rem;
  }

  &Field input {
    color: white;
  }
}

.searchField {
  position: relative;
  border-radius: 6px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  background: #262626;
  border: 1px solid #ddd;
  border-radius: 6px;

  max-height: 200px;
  overflow-y: auto;

  z-index: 10;
}

.suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  // color: black;
}

.suggestions li:hover,
.active {
  background: silver;
}
