@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --sidebar-collapsed: 90px;
  --sidebar-expanded: 260px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: var(--sidebar-expanded);
  min-height: 100%;
  background-color: var(--sidebar-color);
  padding: 2rem;
  transition: width 0.3s ease;

  &Collapsed {
    width: var(--sidebar-collapsed);
  }

  &Collapsed &Text {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease;
  }

  &Collapsed &Toggle svg {
    width: 100%;
  }

  &Toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;

    border: none;
    color: var(--primary-color);
    font-size: 24px;
    padding: 1rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-hover);
    }
  }

  &Nav {
    flex: 1 0 auto;
  }

  &List {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem 1.6rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-hover);
    }
  }

  &Icon {
    font-size: 20px;
    flex-shrink: 0;
  }

  &Text {
    white-space: nowrap;
    width: auto;
    opacity: 1;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
}
.themeToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

/* Контейнер свічу */
.switch {
  width: 50px;
  height: 28px;
  border-radius: 20px;
  background: #1f1f1f;
  position: relative;
  transition: background 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover .circle {
    transform: translateY(-50%) scale(0.8);
  }
}

/* Кружок */
.circle {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: var(--primary-color);

  border-radius: 50%;
  transition: transform 0.3s ease, left 0.2s ease;
}

/* Світла тема */
.themeToggle[data-theme="light"] {
  .switch {
    background: #e5e7eb;
    border: 1px solid var(--primary-color);
    &::before {
      opacity: 1;
    }

    &:hover .circle {
      transform: translateY(-50%) scale(0.9);
    }
  }

  .circle {
    left: 50%;
    background: var(--primary-color);
  }
}
